/* ================== custom font and color =====================*/
@font-face {
    font-family: 'SancoaleSoftenedMedium';
    src: url('fonts/Sancoale\ Softened\ Medium.ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.customFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.italic {
    font-style: italic;
}


/* ======================= custom-carousel ===================*/

.banner-slider {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    width: 500%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1s;
}

@media (max-width: 640px) {
    .slide {
        height: 70vh !important;
    }
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    border: 2px solid purple;
    background: purple;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/* ========================== Custom Carousal end ======================= */

/* ====================== quote ================ */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text {
    text-align: center;
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.quote-text::before,
.quote-text::after {
    content: "\201C";
    position: absolute;
    font-size: 6rem;
    color: #ff9d00;
}

.quote-text::before {
    top: -20px;
    left: -20px;
}

.quote-text::after {
    bottom: -20px;
    right: -20px;
}

/* ====================== quote end ================ */

/* Define the gradient background */
.gradient-bg-hover {
    background-image: linear-gradient(to bottom, white, #FBBF24);
}

/* Add hover effect */
.gradient-bg-hover:hover {
    background-color: #FBBF24;
    /* Change to yellow-600 color */
}